* {
    font-family: Monaco, Arial, Monospace;
    color: white;
    padding: 0;
    margin: 0;
    z-index: 1;
    overflow: hidden;
}

header{
    z-index: 2;
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: rgb(36, 36, 36);
    border-bottom: solid 5px;
}

body{
    display: flex;
    justify-content: center;
    background-color: rgb(77, 77, 77);
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
}

#logo_png {
    border: none;
    border-radius: 999px;
    margin-left: 10px;
    float: left;
}

#logo_text {
    padding-left: 50px;
    font-size: 30px;
    font-weight: bold;
    margin-left: -35px;
}

.logo a {
    padding-left: 50px;
    font-size: 20px;
}

#menu_home {
    margin-left: 30px;
}

.menu {
    margin-left: 25px;
    text-decoration: none;
}

.menu:hover {
    text-decoration: underline;
}

.socials {
    transform-origin: center;
    transition: 200ms;
    scale: 1.0;
    float: right;
    margin-right: 50px;
}

#socials_eluant {
    border: rgb(217, 217, 217) solid;
    border-radius: 15px;
}

.socials:hover {
    transform-origin: center;
    scale: 1.2;
}

.buttons{
    padding-top: 10px;
}

.headline{
    text-align: center;
    width: 100%;
    margin-top: 100px;
    position: absolute;
}

.headline h1{
    font-size: 40px;
    font-weight: bold;
}

.headline h2{
    font-size: 20px;
    font-weight: bold;
}

.projects{
    justify-content: center;
    padding-top: 100px;
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    height: 1000px;
}

#winged{
    text-align: center;
    transition: 200ms;
    scale: 1.0;
    cursor: pointer;
    margin: auto;
    width: 250px;
    height: 250px;
    background-color: rgb(36, 36, 36);
    margin-top: 100px;
    border: rgb(36, 36, 36) solid;
    border-radius: 7px;
    box-shadow: 10px 10px 50px 1px black;
    margin-left: 55px;
    margin-right: 55px;
}

#juicy{
    text-align: center;
    transition: 200ms;
    scale: 1.0;
    cursor: pointer;
    margin: auto;
    width: 250px;
    height: 250px;
    background-color: rgb(36, 36, 36);
    margin-top: 100px;
    border: rgb(36, 36, 36) solid;
    border-radius: 7px;
    box-shadow: 10px 10px 50px 1px black;
    margin-left: 55px;
    margin-right: 55px;
}

#lvlup{
    text-align: center;
    transition: 200ms;
    scale: 1.0;
    cursor: pointer;
    margin: auto;
    width: 250px;
    height: 250px;
    background-color: rgb(36, 36, 36);
    margin-top: 100px;
    border: rgb(36, 36, 36) solid;
    border-radius: 7px;
    box-shadow: 10px 10px 50px 1px black;
    margin-left: 55px;
    margin-right: 55px;
}

#protect{
    text-align: center;
    transition: 200ms;
    scale: 1.0;
    cursor: pointer;
    margin: auto;
    width: 250px;
    height: 250px;
    margin-left: 55px;
    margin-right: 55px;
    background-color: rgb(36, 36, 36);
    margin-top: 100px;
    border: rgb(36, 36, 36) solid;
    border-radius: 7px;
    box-shadow: 10px 10px 50px 1px black;
}

#winged:hover {
    transform-origin: center;
    scale: 1.05;
}

#juicy:hover {
    transform-origin: center;
    scale: 1.05;
}

#protect:hover {
    transform-origin: center;
    scale: 1.05;
}

#lvlup:hover {
    transform-origin: center;
    scale: 1.05;
}

.title{
    padding-top: 115px;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.desc{
    position: absolute;
    top: 150px;
    left: 10px;
    max-width: 230px;
    font-size: 15px;
    text-decoration: none;
    font-weight: light;
}

.project_stats{
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: 12px;
    text-decoration: none;
    font-weight: light;
}

#lvlup img{
    position: absolute;
    top: 5px;
    left: 5px;
    object-fit: cover;
    width: 240px;
    border-radius: 7px;
}

#winged img{
    position: absolute;
    top: 5px;
    left: 5px;
    object-fit: cover;
    object-position: 100% 0%;
    width: 240px;
    max-height: 97px;
    border-radius: 7px;
}

#juicy img{
    position: absolute;
    top: 5px;
    left: 5px;
    object-fit: cover;
    width: 240px;
    border-radius: 7px;
}

#protect img{
    position: absolute;
    top: 5px;
    left: 5px;
    object-fit: cover;
    width: 240px;
    border-radius: 7px;
}

#eluant_2{
    object-fit:contain;
    margin-top: 135px;
    max-height: 1px;
    border: rgb(217, 217, 217) solid;
    border-radius: 15px;
    scale: 0.8;
}

.link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#selected_page{
    text-decoration: underline;
}

.mc_image{
    filter: brightness(50%);
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 1500px;
    object-fit: cover;
    padding-top: 50px;
}