* {
    font-family: Monaco, Arial, Monospace;
    padding: 0;
    margin: 0;
    z-index: 1;
}

header{
    background-color: rgb(54, 124, 214);
    color: white;
    width: 100%;
    height: 37px;
    display: flex;
    align-items: center;
}

ul{
    list-style-type: none;
}

li{
    display: inline;
    font-size: 25px;
    font-weight: bold;
}

#firmaName{
    margin-left: 50px;
}

#kontostandText{
    margin-left: 1490px;
}

#kontostand{
    float:right;
    margin-left: 10px;
}

#mitarbeiterBox{
    color: white;
    position: absolute;
    top: 75px;
    left: 38px;
    width: 150px;
    height: 150px;
    background-color: rgb(54, 124, 214);
    border-radius: 5px;
}

#mitarbeiterText{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding-inline: 24px;
    border-bottom: solid white;
}

#mitarbeiter1{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 45px;
    padding-inline: 10px;
}

#mitarbeiter2{
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 70px;
    padding-inline: 10px;
}

#newBox{
    color: white;
    font-weight: bold;
    font-size: 20px;
    position: absolute;
    left: 500px;
    top: 100px;
    visibility: hidden;
    width: 320px;
    height: 150px;
    background-color:rgb(151, 9, 9);
    border-radius: 5px;
}

#input-file{
    position: absolute;
    left: 500px;
}

#startBox{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 100px;
}

#startText{
    position: absolute;
    left: 120px;
    width: 100px;
}

#zielBox{
    position: absolute;
    top: 33px;
    left: 10px;
    width: 100px;
}

#zielText{
    position: absolute;
    left: 120px;
    width: 50px;
}

#lohnBox{
    position: absolute;
    top: 56px;
    left: 10px;
    width: 100px;
}

#lohn{
    position: absolute;
    left: 120px;
    width: 120px;
    height: 15px;
}

#ausgbBox{
    position: absolute;
    top: 79px;
    left: 10px;
    width: 100px;
}

#ausgb{
    position: absolute;
    left: 120px;
    width: 120px;
    height: 15px;
}

#submitButton{
    position: absolute;
    top: 110px;
    left: 15px;
    width: 90px;
}

#resetBtn{
    position: absolute;
    right: 0px;
}
