* {
    font-family: Helvetica, Arial, sans-serif;
}
.title {
    font-size: 2em;
    color: rgb(77, 77, 77);
    text-align: center;
    text-decoration: none;
}

header {
    text-align: center;
    background-color: white;
}

hr {
    width: 5%;
}

.navbar {
    margin-left: 43%;
    font-size: 15px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: rgb(77, 77, 77);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

#iframe1{
    position: relative;
    left: 41%;
}

#iframe2{
    position: relative;
    left: 30%;
    top: -400px;
}

#white{
    background-color: white;
    height: 1000px;
}
#game{
    position: relative;
    top: -26px;
    left: -2px;
    width: 300px;
    height: 500px;
    border: 5px solid black;
}
#character{
    width: 20px;
    height: 20px;
    background-color: red;
    border-radius: 50%;
    position: relative;
    top: 440px;
    left: 190px;
    z-index: 1;
}
.block{
    width: 300px;
    height: 20px;
    background-color: black;
    position: relative;
    top: 300px;
    margin-top: -23px;
}
.hole{
    width: 40px;
    height: 20px;
    background-color: white;
    position: relative;
    top: 100px;
    margin-top: -20px;
}

#score{
    position: relative;
    top: 20px;
    left: 26%;
}

#lastscore{
    position: relative;
    top: 50px;
    left: 21%;
}

@font-face {
    font-family: title;
    src: url(SairaSemiCondensed-Bold.ttf);
}

#title{
    text-align: center;
    position: relative;
    font-family: title;
    text-align: center;
    font-size: 100px;
    color: white;
}

#game2{
    position: relative;
    width: 800px;
    height: 500px;
    border: 20px solid black;
    border-radius: 1%;
}
#character2{
    width: 30px;
    height: 30px;
    background-color: #1d9e33;
    border-radius: 50%;
    position: relative;
    top: 250px;
    left: 400px;
    z-index: 1;
}
a{
    width:100px;
}