* {
    font-family: Monaco, Arial, Monospace;
    color: rgb(77, 77, 77);
    padding: 0;
    margin: 0;
    z-index: 1;
}

header{
    z-index: 2;
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: #eeefee;
}

.logo {
    margin-top: 10px;
    margin-left: 20px;
}

#logo_png {
    border: none;
    border-radius: 999px;
    margin-left: 10px;
    float: left;
}

#logo_text {
    padding-left: 50px;
    font-size: 30px;
    font-weight: bold;
}

.logo a {
    padding-left: 50px;
    font-size: 20px;
}

#logo_text {
    margin-left: -35px;
}

#menu_home {
    margin-left: 30px;
}

.menu {
    margin-left: 25px;
    text-decoration: none;
}

.menu:hover {
    text-decoration: underline;
}

.socials {
    transform-origin: center;
    transition: 200ms;
    scale: 1.0;
    float: right;
    margin-right: 50px;
}

.socials:hover {
    transform-origin: center;
    scale: 1.2;
}

.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline{
    text-align: center;
    width: 100%;
    margin-top: 100px;
}

#lvlup{
    transition: 200ms;
    scale: 1.0;
    cursor: pointer;
    margin: auto;
    width: 250px;
    height: 375px;
    background-color: rgb(217, 217, 217);
    margin-top: 100px;
    border: rgb(217, 217, 217) solid;
    border-radius: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 30px 0px grey;
}

#winged{
    transition: 200ms;
    scale: 1.0;
    cursor: pointer;
    margin: auto;
    width: 250px;
    height: 370px;
    background-color: rgb(217, 217, 217);
    margin-top: 50px;
    border: rgb(217, 217, 217) solid;
    border-radius: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 30px 0px grey;
}

#juicy{
    transition: 200ms;
    scale: 1.0;
    cursor: pointer;
    margin: auto;
    width: 250px;
    height: 375px;
    background-color: rgb(198, 199, 199);
    margin-top: 100px;
    border: rgb(217, 217, 217) solid;
    border-radius: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 30px 0px grey;
}

#protect{
    transition: 200ms;
    scale: 1.0;
    cursor: pointer;
    margin: auto;
    width: 250px;
    height: 375px;
    background-color: rgb(217, 217, 217);
    margin-top: 100px;
    border: rgb(217, 217, 217) solid;
    border-radius: 7px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 8px 30px 0px grey;
}

#winged:hover {
    transform-origin: center;
    scale: 1.05;
}

#lvlup:hover {
    transform-origin: center;
    scale: 1.05;
}

#juicy:hover {
    transform-origin: center;
    scale: 1.05;
}

#protect:hover {
    transform-origin: center;
    scale: 1.05;
}

.project_box .title{
    float: left;
    margin-left: 20px;
    margin-top: 15px;
    font-weight: bold;
    font-size: 25px;
    text-decoration: none;
}

#lvlup img{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

#juicy img{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

#winged img{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

#winged #eluant_2{
    margin-left: 50px;
    border: rgb(217, 217, 217) solid;
    border-radius: 15px;
}

#protect img{
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

.desc{
    margin: auto;
    margin-top: 180px;
    width: 225px;
    font-size: 15px;
    text-decoration: none;
    font-weight: light;
}

#winged .desc{
    margin-top: 180px;
    width: 225px;
    font-size: 15px;
    text-decoration: none;
    font-weight: light;
}

#juicy .desc{
    margin-top: 180px;
    width: 225px;
    font-size: 15px;
    text-decoration: none;
    font-weight: light;
}

#winged .project_stats{
    float: right;
    margin-right: 18px;
    margin-top: 20px;
    font-size: 12px;
    text-decoration: none;
    font-weight: light;
}

.project_stats{
    float: right;
    margin-right: 18px;
    margin-top: 20px;
    font-size: 12px;
    text-decoration: none;
    font-weight: light;
}

.link{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}

#selected_page{
    text-decoration: underline;
}

.dropbtn {
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    text-align: center;
    color: black;
    padding: 12px 50px;
    text-decoration: none;
    display: block;
  }
  
.dropdown-content a:hover {background-color: #f1f1f1}
  
.dropdown:hover .dropdown-content {
    display: block;
}